networks:
  reverse_proxy:
    name: reverse_proxy
    internal: true
  internet:
    name: internet

services:
  wireguard:
    image: ghcr.io/wg-easy/wg-easy:14
    container_name: wireguard
    restart: unless-stopped
    environment:
      - WG_HOST=${WIREGUARD_PUBLIC_DOMAIN_NAME}
      - PASSWORD_HASH=${WIREGUARD_UI_PASSWORD}
      - WG_DEFAULT_DNS=${GENERAL_DNS_SERVER_ADDRESS}
      - WG_DEFAULT_ADDRESS=${WIREGUARD_VPN_RANGE}
      - WG_ALLOWED_IPS=${WIREGUARD_ALLOWED_IPS},${GENERAL_DNS_SERVER_ADDRESS}/32
      - WG_DEVICE=${WIREGUARD_DEVICE}
      - UI_TRAFFIC_STATS=true
      - UI_CHART_TYPE=2
    volumes:
      - ${GENERAL_BASE_DOCKER_DATA_PATH}/wireguard:/etc/wireguard
    ports:
      - "51820:51820/udp" # A mettre en var env
      - "51821:51821/tcp" # A mettre en var env
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      traefik.enable: false # To fix

      # Wireguard Web UI
      traefik.http.routers.wireguard-router.rule: Host(`wireguard.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.wireguard-router.entrypoints: websecure
      traefik.http.routers.wireguard-router.service: wireguard-service
      traefik.http.routers.wireguard-router.tls: true

      # Service points to host port 51821
      traefik.http.services.wireguard-service.loadbalancer.server.url: "http://wireguard:51821"

  adguard:  
    image: adguard/adguardhome:v0.107.65
    container_name: adguard
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - 3000:3000 # Comment when setup is done
    networks:
      - reverse_proxy
      - internet
    volumes:
      - ${GENERAL_BASE_DOCKER_DATA_PATH}/adguard/work:/opt/adguardhome/work
      - ${GENERAL_BASE_DOCKER_CONFIG_PATH}/adguard/confdir:/opt/adguardhome/conf
    labels:
      traefik.enable: true
      traefik.docker.network: reverse_proxy

      # Rule for port 80 (adguard)
      traefik.http.routers.adguard-router.rule: Host(`adguard.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.adguard-router.entrypoints: websecure
      traefik.http.routers.adguard-router.service: adguard-service
      traefik.http.routers.adguard-router.tls: true
      traefik.http.services.adguard-service.loadbalancer.server.port: 80
      traefik.http.services.adguard-service.loadbalancer.server.scheme: http

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${GENERAL_BASE_DOCKER_DATA_PATH}/portainer/data:/data
    command: --admin-password "${PORTAINER_ADMIN_PASSWORD}"
    networks:
      - reverse_proxy
    labels:
      traefik.enable: true
      traefik.docker.network: reverse_proxy

      # Rule for port 9443 (portainer)
      traefik.http.routers.portainer-router.rule: Host(`portainer.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.portainer-router.entrypoints: websecure
      traefik.http.routers.portainer-router.service: portainer-service
      traefik.http.routers.portainer-router.tls: true
      traefik.http.services.portainer-service.loadbalancer.server.port: 9443
      traefik.http.services.portainer-service.loadbalancer.server.scheme: https
    
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    restart: unless-stopped
    environment:
      - PUID=${USER_UID}
      - PGID=${USER_GID}
      - TZ=${GENERAL_TIMEZONE}
      - SUBDOMAINS=${WIREGUARD_PUBLIC_DOMAIN_NAME}
      - TOKEN=${TRAEFIK_DUCKDNS_TOKEN}

  traefik:
    image: traefik:v3.6
    container_name: "traefik"
    restart: unless-stopped
    command:
      - "--log.level=${TRAEFIK_LOG_LEVEL:-DEBUG}"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=${TRAEFIK_PROVIDER}" # Adjust if you want to use another DNS provider
      - "--certificatesresolvers.myresolver.acme.email=postmaster@${TRAEFIK_DOMAIN_NAME}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--serverstransport.insecureskipverify=true"
    dns:
      - 1.1.1.1
      - 8.8.8.8
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DUCKDNS_TOKEN=${TRAEFIK_DUCKDNS_TOKEN}
      - MYADDR_PRIVATE_KEYS_MAPPING=${TRAEFIK_SUBDOMAIN_NAME}:${TRAEFIK_MYADDR_IO_TOKEN}
    volumes:
      - ${GENERAL_BASE_DOCKER_DATA_PATH}/letsencrypt:/letsencrypt
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - reverse_proxy
      - internet
    labels:
      traefik.enable: true
      traefik.docker.network: reverse_proxy

      traefik.http.routers.traefik-router.tls.domains[0].main: "${TRAEFIK_DOMAIN_NAME}"
      traefik.http.routers.traefik-router.tls.domains[0].sans: "*.${TRAEFIK_DOMAIN_NAME}"
      traefik.http.routers.traefik-router.tls.certresolver: myresolver # Uses the Host rule to define which certificate to issue

      # Rule for port 8080 (traefik)
      traefik.http.routers.traefik-router.rule: Host(`traefik.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.traefik-router.entrypoints: websecure
      traefik.http.routers.traefik-router.service: traefik-service
      traefik.http.routers.traefik-router.tls: true
      traefik.http.services.traefik-service.loadbalancer.server.port: 8080
      traefik.http.services.traefik-service.loadbalancer.server.scheme: http

  vpn:
    image: qmcgaw/gluetun:latest
    container_name: vpn
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${GENERAL_BASE_DOCKER_DATA_PATH}/gluetun:/gluetun
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      # Wireguard:
      - WIREGUARD_PRIVATE_KEY=${NORDVPN_PRIVATE_KEY}
      - SERVER_COUNTRIES=${VPN_SERVER_COUNTRY}
      # Timezone for accurate log times
      - TZ=${GENERAL_TIMEZONE}
      - FIREWALL_OUTBOUND_SUBNETS=${VPN_LOCAL_SUBNET_RANGE}
      - DOT=off
    networks:
      - reverse_proxy
      - internet
    labels:
      traefik.enable: true
      traefik.docker.network: reverse_proxy

      # Rule for port 5800 (firefox)
      traefik.http.routers.firefox-router.rule: Host(`firefox.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.firefox-router.entrypoints: websecure
      traefik.http.routers.firefox-router.service: firefox-service
      traefik.http.routers.firefox-router.tls: true
      traefik.http.services.firefox-service.loadbalancer.server.port: 5800
      traefik.http.services.firefox-service.loadbalancer.server.scheme: http

      # Rule for port 8090 (qbittorrent)
      traefik.http.routers.qbittorrent-router.rule: Host(`qbittorrent.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.qbittorrent-router.entrypoints: websecure
      traefik.http.routers.qbittorrent-router.service: qbittorrent-service
      traefik.http.routers.qbittorrent-router.tls: true
      traefik.http.services.qbittorrent-service.loadbalancer.server.port: 8090
      traefik.http.services.qbittorrent-service.loadbalancer.server.scheme: http

      # Rule for port 9696 (prowlarr)
      traefik.http.routers.prowlarr-router.rule: Host(`prowlarr.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.prowlarr-router.entrypoints: websecure
      traefik.http.routers.prowlarr-router.service: prowlarr-service
      traefik.http.routers.prowlarr-router.tls: true
      traefik.http.services.prowlarr-service.loadbalancer.server.port: 9696
      traefik.http.services.prowlarr-service.loadbalancer.server.scheme: http

      # Rule for port 7878 (radarr)
      traefik.http.routers.radarr-router.rule: Host(`radarr.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.radarr-router.entrypoints: websecure
      traefik.http.routers.radarr-router.service: radarr-service
      traefik.http.routers.radarr-router.tls: true
      traefik.http.services.radarr-service.loadbalancer.server.port: 7878
      traefik.http.services.radarr-service.loadbalancer.server.scheme: http

      # Rule for port 8989 (sonarr)
      traefik.http.routers.sonarr-router.rule: Host(`sonarr.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.sonarr-router.entrypoints: websecure
      traefik.http.routers.sonarr-router.service: sonarr-service
      traefik.http.routers.sonarr-router.tls: true
      traefik.http.services.sonarr-service.loadbalancer.server.port: 8989
      traefik.http.services.sonarr-service.loadbalancer.server.scheme: http

      # Rule for port 6767 (bazarr)
      traefik.http.routers.bazarr-router.rule: Host(`bazarr.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.bazarr-router.entrypoints: websecure
      traefik.http.routers.bazarr-router.service: bazarr-service
      traefik.http.routers.bazarr-router.tls: true
      traefik.http.services.bazarr-service.loadbalancer.server.port: 6767
      traefik.http.services.bazarr-service.loadbalancer.server.scheme: http

      # Rule for port 8082 (commafeed)
      traefik.http.routers.commafeed-router.rule: Host(`commafeed.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.commafeed-router.entrypoints: websecure
      traefik.http.routers.commafeed-router.service: commafeed-service
      traefik.http.routers.commafeed-router.tls: true
      traefik.http.services.commafeed-service.loadbalancer.server.port: 8082
      traefik.http.services.commafeed-service.loadbalancer.server.scheme: http

      # Rule for port 1200 (rsshub)
      traefik.http.routers.rsshub-router.rule: Host(`rsshub.${TRAEFIK_DOMAIN_NAME}`)
      traefik.http.routers.rsshub-router.entrypoints: websecure
      traefik.http.routers.rsshub-router.service: rsshub-service
      traefik.http.routers.rsshub-router.tls: true
      traefik.http.services.rsshub-service.loadbalancer.server.port: 1200
      traefik.http.services.rsshub-service.loadbalancer.server.scheme: http